<div class="wrapper">
    <div class="header">
        <img src="assets/logo.png" class="logo">
    </div>
    <form (ngSubmit)="onSubmit()">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required [(ngModel)]="email">
        <label for="identificationCode">Пароль:</label>
        <input type="password" id="identificationCode" name="identificationCode" required [(ngModel)]="identificationCode">
        <button type="submit">Вхід</button>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
</div>