body {
    /*Встановлення основних стилів для тіла документа*/
    font-family: Arial, sans-serif;/*Встановлення шрифту*/
    margin: 0;/*Встановлення зовнішнього відступу*/
    padding: 0;/*Встановлення внутрішнього відступу*/
    background: linear-gradient(to bottom, #4cbcec, #cdd9ff, #ffff);/*Встановлення фонового градієнту*/
    display: flex;/*Встановлення типу відображення елементів(гнучкий контейнер)*/
    align-items: center;/*Вирівнювання елементів по вертикалі*/
    justify-content: center;/*Вирівнювання елементів по горизонталі*/
    height: 100vh;/*Встановлення висоти на весь екран*/
    overflow: hidden;/*Відлючення прокрутки*/
}
@media (max-width: 767px) {
    .container app-header {
        position: relative;
        left: -3%; 
    }

    .container app-login-form {
        position: relative;
        left: -3%;    
     }
}

