.permit {
    height: 100vh;
    width: 100%;
    display: flex; /* Add flex display to permit div */
}

.info_about_user {
    height: 100vh;
    width: 70%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #85c5ff;
    overflow: hidden;
}

.shrek {
    height: 25%;
    width: 14%;
    display: block;
    margin-left: 3%;
    margin-top: 3%;
}

.h1 {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    color: #837e83;
    position: absolute;
    left: 15%;
    top: 4%;
}

.h3 {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #837e83;
    position: absolute;
    left: 3%;
    top: 30%;
}

.user_info {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 9%;
    left: 15%;
}

.detail_info {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: black;
    position: absolute;
    margin-bottom: 10px;
    line-height: 1.5;
    bottom: 2%;
    left: 3%;
}

.right_side_bar {
    position: relative;
    height: 100vh;
    width: 30%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffff, #cdd9ff, #85c5ff);
    overflow: hidden;
    justify-content: center;
    flex-shrink: 0; 
}
.logo {
    width: 50%;
    height: 10%;
    position: absolute; 
    left: 25%;
    top: 5%;
}

.qr{
    width: 50%;
    height: 25%;
    position: absolute; 
    right: 23%;
    bottom: 8%;
}
.button {
    position: relative;
    display: inline-block;
    padding: 5% 5%;
    background-color: transparent; 
    color:#837e83; 
    border: none;
    border-radius: 3%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    width: 60%;
    margin-top: -30%;
    margin-left: 23%;
    text-align: center;
}
.button + .button {
    margin-top: 15%; 
}

.button:hover {
    background-color:rgba(89, 169, 254, 0.3); 
}

.button img {
    width: 20%; 
    height: 60%; 
    margin-right: 0; 
    position: absolute; 
    left: 3%; 
    bottom:20%; 
}

.button .sheets_wr,
.button .wallet_wr {
    display: inline-block;
    vertical-align: middle;
    font-size: 25px
}

.sheets_wr,
.wallet_wr {
    margin: 0;
    padding-left: 25px; 
    font-size: 25px
}

.exit {
    position: absolute;
    top: 8%;
    right: 10%;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    height: 5%;
    width: 5%;
    border-radius: 3%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow: hidden;
    text-align: center;
}

.exit img {
    width: 100%;
    height: 100%;
    object-fit: contain; 

}

exit_ {
width: 100%;
height: 100;
}

.exit:hover {
    background-color:rgba(89, 169, 254, 0.3); 
}