.logo {
    width: 100%;/*Встановлення ширини логотипу*/
    display: block; /*Встановлення блочного відображення*/
    margin: 0 auto; /*Автоматичне вирівнювання по горизонталі*/
    transform: translateX(13%); /*Зміщування логотипу правору*/
}
